<a href="https://colab.research.google.com/github/surajk150741/Data_Science_Projects/blob/main/Movie%20imdb(web%20scraping)/Data_Analysis_of_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In this notebook, I have Analysed the dataframe I created in the web scraping section

**Steps Included**:

- Removed the column with null values
- Converted the date of release into datetime object.
- Made a function to calculate the age of a movie.
- Came up with a definition to check the popularity of any content.

### Importing and cleaning

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving imdb.csv to imdb.csv

In [ ]:
df = pd.read_csv('imdb.csv')

In [ ]:
index_names = df[(df['IMDB_rating'] == 0.0)].index
df.drop(index_names, inplace=True)

In [ ]:
df.drop(['Unnamed: 0'], axis=1,inplace=True)
df = df.set_index('Title')
df.head(10)

                             IMDB_id  ...                                       Plot_summary
Title                                 ...
3 Idiots (2009)            tt1187043  ...  Two friends are searching for their long lost ...
3 Idiots (2009)            tt1187043  ...  Two friends are searching for their long lost ...
Rang De Basanti (2006)     tt0405508  ...  The story of six young Indians who assist an E...
My Name Is Khan (2010)     tt1188996  ...  An Indian Muslim man with Asperger's syndrome ...
Swades (2004)              tt0367110  ...  A successful Indian scientist returns to an In...
Gangs of Wasseypur (2012)  tt1954470  ...  A clash between Sultan and Shahid Khan leads t...
Barfi! (2012)              tt2082197  ...  Three young people learn that love can neither...
Chak De! India (2007)      tt0871510  ...  Kabir Khan, the coach of the Indian Women's Na...
Bajrangi Bhaijaan (2015)   tt3863552  ...  An Indian man with a magnanimous heart takes a...
Dil Chahta Hai (2001)      tt0292490  ...  Three inseparable childhood friends are just o...

[10 rows x 8 columns]

### Calculating the age of a movie

In [ ]:
df['Date of release'] = pd.to_datetime(df['Date of release'])

df['Date of release']

Title
3 Idiots (2009)            2009-12-23
3 Idiots (2009)            2009-12-23
Rang De Basanti (2006)     2006-01-26
My Name Is Khan (2010)     2010-02-11
Swades (2004)              2004-12-17
                              ...
Kaanch Ki Deewar (1986)    1986-01-31
Pyar Pyar (1993)           1993-01-01
Swarg Jaisaa Ghar (1991)   1991-11-29
Sorry Daddy (2015)         2015-09-11
Raadha Aur Seeta (1979)    1979-08-10
Name: Date of release, Length: 1011, dtype: datetime64[ns]

In [ ]:
#from datetime import date
def from_releasedate_to_age(released):
    today = datetime.date.today()
    return today.year - released.year - ((today.month, today.day) < (released.month, released.day))

In [ ]:
import datetime
df['Age of content'] = df['Date of release'].apply(lambda x: from_releasedate_to_age(x))

In [ ]:
df = df.reset_index()
df.head()

                    Title  ... Age of content
0         3 Idiots (2009)  ...             11
1         3 Idiots (2009)  ...             11
2  Rang De Basanti (2006)  ...             15
3  My Name Is Khan (2010)  ...             11
4           Swades (2004)  ...             16

[5 rows x 10 columns]

### Popularity of a movie

In [ ]:
#test_string = "25K"
df['votes(K)'] = df['IMDB_Votes'].str.split('K')

In [ ]:
df['votes(K)'][1010]

['14']

In [ ]:
df.head()

                    Title    IMDB_id  ... Age of content votes(K)
0         3 Idiots (2009)  tt1187043  ...             11  [365, ]
1         3 Idiots (2009)  tt1187043  ...             11  [365, ]
2  Rang De Basanti (2006)  tt0405508  ...             15  [116, ]
3  My Name Is Khan (2010)  tt1188996  ...             11  [102, ]
4           Swades (2004)  tt0367110  ...             16   [87, ]

[5 rows x 11 columns]

In [ ]:
df['popularity_num'] = df['IMDB_rating']*100

In [ ]:
for i in range(len(df)):

  df['popularity_num'][i] = pd.to_numeric(df['votes(K)'][i][0]) + df['IMDB_rating'][i]*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df.head()

                    Title    IMDB_id  ... votes(K) popularity_num
0         3 Idiots (2009)  tt1187043  ...  [365, ]         1205.0
1         3 Idiots (2009)  tt1187043  ...  [365, ]         1205.0
2  Rang De Basanti (2006)  tt0405508  ...  [116, ]          926.0
3  My Name Is Khan (2010)  tt1188996  ...  [102, ]          902.0
4           Swades (2004)  tt0367110  ...   [87, ]          907.0

[5 rows x 12 columns]